<!DOCTYPE html>
<html>

<head>
<title> Tic Tac Toe </title>
</head>

<center><body>
	<font size= "48" color= "black"><marquee direction="left" scrollamount="9" class="vote">Welcome to Tic Tac Toe </a> </marquee></font>
	<br><br><br><br><br><br><br><br><br>
<center><table id="board">
<tr>
<td><select id="mode">
               <option Selected>Choose</option>
               <option value="1">X</option>
               <option value="2">O</option></td>
<td><select id="mode">
               <option Selected>Choose</option>
               <option value="1">X</option>
               <option value="2">O</option></td>
<td><select id="mode">
               <option Selected>Choose</option>
               <option value="1">X</option>
               <option value="2">O</option></td>
  </tr>
<tr>
<td><select id="mode">
               <option Selected>Choose</option>
               <option value="1">X</option>
               <option value="2">O</option></td>
<td><select id="mode">
               <option Selected>Choose</option>
               <option value="1">X</option>
               <option value="2">O</option></td>
<td><select id="mode">
               <option Selected>Choose</option>
               <option value="1">X</option>
               <option value="2">O</option></td>
  </tr>
<tr>
<td><select id="mode">
               <option Selected>Choose</option>
               <option value="1">X</option>
               <option value="2">O</option></td>
<td><select id="mode">
               <option Selected>Choose</option>
               <option value="1">X</option>
               <option value="2">O</option></td>
<td><select id="mode">
               <option Selected>Choose</option>
               <option value="1">X</option>
               <option value="2">O</option></td>
  </tr>
</table></center>
</body></center>