<head>
<link href="<%= url('/css/main.css') %>" rel="stylesheet" type="text/css" />
<title>
Tic Tac Toe
</title>
<body>
	<div class = "center-body">	
		<%= yield %>
	</div>
</body>


<footer>
	<div class="footer-text"> 
		
		<br>
		
	</div>
</footer>